name: call-codeql-cbom-scan

on:
  workflow_dispatch:

jobs: 
  run-cbom-scan:
    runs-on: [ linux, xlarge ]
    container:
        image: containers.github.siemens.cloud/s7p/s7p.tools.linux.munin:v1.1.0
        credentials:
          username: ${{ secrets.SECURITY_USER_DOCKER }}
          password: ${{ secrets.SECURITY_PAT_DOCKER }}
        options: --user dockle
        
    steps:
      - name: run-cbom-scan
        uses: S7P/s7p.security.cbom-action@main
        with:
          LANGUAGE_MATRIX: "cpp"
          TARGET: "cpu1500_munin"
          GIT_S7P_PROJECT: "s7p.cpu1500.unix.munin"
          CPU1500_COMMIT: "major"
          BUILD_PAT: ${{ secrets.SECURITY_BUILD_TOKEN }}
          LFS_PUBLIC_KEY: ${{ secrets.SECURITY_GIT_SSH_KEY_PUBLIC }}
          LFS_KEY: ${{ secrets.SECURITY_GIT_SSH_KEY }}
          WORKING_DIRECTORY: "/app"
          CLONE_DIRECTORY: "/app/work"
          RULESET_COMMIT: "275437b"
          BUILDSCRIPT: "s7p.cpu1500/_gen/antparallelmake_unix.sh cpu1500_munin"
        
